<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Welcome mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello '+${name}+'!'">
    Hello, STATIC!
</p>
<br>
<p>Thank you for your registration!</p>
<p>Please click on the following <a th:href="@{${link}}">link</a> to activate your account.</p>
<p>We highly recommend you to change it as soon as possible.</p>
<br>
<p>
    Regards, <br/>
    <em>Tezos Digisign Team</em>
</p>
</body>
</html>
