<!--
    Used to upload files.

    Usage :

      Template :

         <FileUpload ref="fileUpload" @change-files="filesSign = $event"/>

      Script :

         @Ref() private readonly fileUpload!: FileUpload

         this.fileUpload.reset() // Clears the files

-->

<template>
  <div @dragover.prevent @drop.prevent="drop" class="width_100">
    <v-file-input prepend-icon="" prepend-inner-icon="publish" outlined filled
                  v-model="files" :multiple="multiple" :placeholder="placeholder"/>
  </div>
</template>

<style scoped>
.width_100 {
  width: 100%;
}
</style>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import CryptoJS from "crypto-js"
import {FileSign} from "@/store/types"

@Component
export default class FileUpload extends Vue {

  @Prop({default: null}) private readonly placeholder!: string
  @Prop({default: true}) private readonly multiple!: boolean

  private files: Array<File> = []
  private filesSign: Array<FileSign> = []

  public reset() {
    this.files = []
    this.filesSign = []
    this.changeFiles()
  }

  public deleteFile(index: number) {
    this.filesSign.splice(index, 1)
    this.changeFiles()
  }

  private drop(e: any) {
    this.files = e.dataTransfer.files
  }

  @Watch("files")
  private updateFiles() {
    this.files.forEach((f: File) => {
      const reader = new FileReader()
      reader.onloadend = (e) => {
        const wordArray = CryptoJS.lib.WordArray.create(e.target!.result)
        const hashCrypt = CryptoJS.SHA256(wordArray).toString()
        this.filesSign.push(
            {
              name: f.name,
              size: f.size,
              hash: hashCrypt,
              metadata: [],
            })
      }
      reader.readAsArrayBuffer(f)
    })

    this.changeFiles()
  }

  @Emit()
  private changeFiles() {
    return this.filesSign
  }

}
</script>
