<template>
  <v-flex>
    <v-card class="mx-auto padded" max-width="600">
      <div class="text-center">
        <img
            class="white--text"
            height="70px"
            width="auto"
            src="@/ui/assets/logo_coexya.svg"
            alt="Logo COEXYA"
        />
      </div>

      <template v-if="!registerSent">

        <v-card-text>
          <p class="information">
            {{ $t('register.description') }}
          </p>
        </v-card-text>

        <v-text-field color="var(--var-color-blue-sword)" :label="$t('register.login')+ ' *'" v-model="draft.username"
                      @keyup.enter.native="handleRegister" id="username"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="$t('register.email') + ' *'" type="email"
                      v-model="draft.email"
                      @keyup.enter.native="handleRegister" id="email"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="$t('register.fullName') + ' *'" type="text"
                      v-model="draft.fullName"
                      @keyup.enter.native="handleRegister" id="fullName"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="$t('register.company')" type="text"
                      v-model="draft.company"
                      @keyup.enter.native="handleRegister" id="company"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="$t('register.country')" type="text"
                      v-model="draft.country"
                      @keyup.enter.native="handleRegister" id="country"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="'Notes'" type="text" class="important"
                      v-model="draft.honeyPotField1"
                      @keyup.enter.native="handleRegister" id="text"
        />
        <v-text-field color="var(--var-color-blue-sword)" :label="'Email-pro'" type="email" class="important"
                      v-model="draft.honeyPotField2"
                      @keyup.enter.native="handleRegister" id="email-pro"
        />

      </template>
      <template v-else>

        <v-card-actions class="justify-center">
          <v-icon color="green" large>check_circle_outline</v-icon>
        </v-card-actions>

        <v-card-text>
          <p class="information" id="emailSentDescription">
            {{ $t('register.registerSentDescription', [draft.email]) }}
          </p>
        </v-card-text>

      </template>

      <v-card-actions class="justify-center">
        <v-btn to="/login" id="backToLoginButton">
          <v-icon v-if="!registerSent" class="pr-1">arrow_back</v-icon>
          <v-icon v-if="registerSent" class="pr-1">check</v-icon>
          {{ registerSent ? $t('register.done') : $t('register.back') }}
        </v-btn>
        <v-btn @click="handleRegister" id="nextButton" v-if="!registerSent" :disabled="!canRegister">
          <v-icon class="pr-1">double_arrow</v-icon>
          {{ $t('register.next') }}
        </v-btn>
      </v-card-actions>

      <p v-if="!registerSent">{{ $t("register.mandatory") }}</p>

      <FeedBackMessage ref="feedBackMessage" with-border="true"/>

      <div class="text-center" id="gcu">
        <router-link to="/GCU">{{ $t('login.gcu') }}</router-link>
      </div>
    </v-card>
  </v-flex>
</template>

<style lang="css" scoped>

img {
  margin: 40px 40px 60px 40px;
}

a {
  color: var(--var-color-blue-sword) !important;
  font-size: small;
}

#nextButton {
  margin-top: 20px;
  background-color: var(--var-color-blue-sword);
  color: white;
}

#backToLoginButton {
  margin-top: 20px;
  background-color: var(--var-color-light-orange-sword);
  color: white !important;
}

#gcu {
  margin-top: 60px;
}

.information {
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-line;
}

.padded {
  padding: 50px 100px;
}

/*
Honey pot style,
display:none; Could be too explicit for a bot.
The name of the class is also here to trick bots if they parse css classes
*/
.important {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

</style>

<script lang="ts">
import {Component, Ref, Vue, Watch} from "vue-property-decorator"
import {AccountCreate} from "@/api/types"
import {FeedBackMessage} from "@/ui/components"

interface DraftAccount {
  username: string,
  email: string,
  fullName: string,
  company: string,
  country: string,
  honeyPotField1: string,
  honeyPotField2: string,
}

@Component
export default class Register extends Vue {

  @Ref() private readonly feedBackMessage!: FeedBackMessage

  private draft: DraftAccount = {
    username: "",
    email: "",
    fullName: "",
    company: "",
    country: "",
    honeyPotField1: "",
    honeyPotField2: "",
  }

  private registerSent: boolean = false

  @Watch("draft.email")
  private updateEmail() {
    if (this.draft.email !== "" && !this.isEmailValid) {
      this.feedBackMessage.fail("errors.invalidEmail")
    } else {
      this.feedBackMessage.reset()
    }
  }

  private get isEmailValid() {
    return /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.draft.email)
  }

  private get canRegister() {
    return this.draft.username !== "" && this.draft.email !== "" && this.draft.fullName !== "" && this.isEmailValid
  }

  private handleRegister() {
    if (this.canRegister) {
      const newAccount: AccountCreate = {
        login: this.draft.username,
        email: this.draft.email,
        company: this.draft.company,
        country: this.draft.country,
        fullName: this.draft.fullName,
        honeyPotField1: this.draft.honeyPotField1 !== "" ? this.draft.honeyPotField1 : undefined,
        honeyPotField2: this.draft.honeyPotField2 !== "" ? this.draft.honeyPotField2 : undefined,
        tezosAccount: undefined,
        isAdmin: false,
        disabled: false,
        signatureLimit: undefined,
        isTezosAccountInConfig: false,
      }

      this.$modules.accounts.register(newAccount).then(async () => {
        this.feedBackMessage.reset()
        this.registerSent = true
      }).catch((error) => {
        const exception = error.response?.data.message
        if (exception.includes("email dup key")) {
          this.feedBackMessage.fail("errors.account.duplicate.email")
        } else if (exception.includes("login dup key")) {
          this.feedBackMessage.fail("errors.account.duplicate.login")
        } else if (exception.includes("disposable email")) {
          this.feedBackMessage.fail("errors.account.disposableEmail")
        } else {
          this.feedBackMessage.fail("errors.back.generic")
        }
      })

    }

  }

}
</script>
